body {
    background: url(./401059.png) no-repeat center center fixed;
    background-size: cover;
}

#previous{
    display: none;
}

#next{
    width:6.4rem;
}

#details{
    width: 50%;
}

.ops{
    background-image: var(--bs-gradient);
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    border-radius: 6px;
    display:flex;
    width: 70%;
    padding: 0;
    min-height: 800px;
    margin-bottom: 25rem;
    margin-top: 2rem;
}

.col-md-8{
    width: 40rem;
}

@media screen and (max-width:2560px){
    .col-md-8{
        width: 30rem;
    }

    .ops{
        width: 70%;
        padding: 0 3rem;
    }

    h4{
        _font-size: 1.3em;
    }

    body{
        font-size: 1.4em;
    }

    .page-link {
        padding: 1rem;
        font-size: 1.4rem;
        width: 10rem;
        text-align: center;
    }
}

@media screen and (max-width: 1440px){
    .page-link {
        padding: 0.6rem;
        font-size: 1.1rem;
        width: 8rem;
        text-align: center;
    }

    body{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1024px){
    .page-link {
        padding: 0.8rem;
        font-size: 1.1rem;
        width: 7rem;
        text-align: center;

    }

    body{
        font-size: 1.2em;
    }

    .ops{
        width: 90%;
    }
    
}
@media screen and (max-width: 768x){
   
    .ops{
        width: 90%;
        min-height: 300px;
    }

    h4{
       _height: 1rem;
    }
   
}

@media screen and (max-width: 560px){
    .page-link {
        padding: 0.7rem;
        font-size: 0.8rem;
        width: 6rem;
        text-align: center;
    }

    body{
        font-size: 1em;
    }

    .ops{
        width: 90%;
        padding: 0;
        min-height: 250px;
        margin-bottom: 35rem;
    }

    .col-md-8{
        width: 90%;
    }
}
    
    

    

  

