body {
    background: url(./401059.png) no-repeat center center fixed;
    background-size: cover;
}

header {
    height: 3em;
}

footer {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: calc(100vh - 4em -3em);
    margin-bottom: 3em;
}

#previous {
    display: none;
}

#next {
    width: 6.4rem;
}

#details {
    width: 50%;
}

.btn-outline-primary {
    --bs-btn-hover-color: #0d6efd;
    --bs-btn-hover-bg: #fff;
}

.ops {
    background-image: var(--bs-gradient);
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 1%;
    display: flex;
}

.col-md-8 {
    width: 30rem;
}

img {
    cursor: pointer;
}

@media screen and (max-width:2560px) {
    .ops {
        width: 80%;
        padding: 0 3rem;
    }

    body {
        font-size: 1.4em;
    }

    .page-link {
        padding: 0.5rem;
        font-size: 1.4rem;
        width: 8rem;
        text-align: center;
    }
}

@media screen and (max-width: 1440px) {
    .page-link {
        padding: 0.4rem;
        font-size: 1.1rem;
        width: 6.5rem;
        text-align: center;
    }

    body {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1024px) {
    .ops {
        width: 1000%;
    }
}

@media screen and (max-width: 560px) {
    .page-link {
        font-size: 0.9rem;
        width: 6rem;
        text-align: center;
    }

    body {
        font-size: 1em;
    }

    .ops {
        padding: 0;
    }

    .col-md-8 {
        width: 90%;
    }
}